.anim-container {
    margin: auto;
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.anim-field {
    border: 1px solid black;
    border-radius: 10px;
    width: 750px;
    height: 400px;
    margin-bottom: 1rem;
    background-image: url(./image/field.jpg);
    background-position: center;
    background-size: 800px 450px;
    position: relative;
}

.anim-ball {
    border: 1px solid black;
    border-radius: 50%;
    background-color: lightblue;
    background-position: center;
    position: absolute;
    transition: none;
}