.calculator-page {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
}

.cal-container {
    margin: 1rem auto;
    border: 3px solid black;
    border-radius: 25px;
    width: fit-content;
    padding: 0.5rem;
    background-color: rgb(140, 158, 175);
}

.cal-screen {
    border: 1px solid black;
    text-align: right;
    background-color: lightcyan;
    padding: 0.5rem 0.25rem;
    margin-bottom: 0.5rem;
    border-radius: 7px;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 280px;
}

.calc-btn {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 10px;
    margin: 0.25rem 0.10rem;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #333;
    cursor: pointer;
    transition: all 0.2s ease;
}

.calc-btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.calc-btn-green {
    background-color: lightgreen;
}

.calc-btn-red {
    background-color: lightcoral;
}

.calc-btn-blue {
    background-color: lightblue;
}

.calc-btn-yellow {
    background-color: rgb(235, 235, 115);
}

.calc-btn-active-yellow:hover:not(:disabled) {
    background-color: rgba(255, 255, 0, 0.877);
}

.calc-btn-active-red:hover:not(:disabled) {
    background-color: rgb(214, 72, 72);
}